@import "../../global.scss";

.pokemonDescribe-wrapper {
  // Top
  
  background-color: $color-pokemonInfo-background;
  position: relative;
  z-index: $indexModal;
  overflow: hidden;
  box-shadow: 0px 11px 20px 0px rgba(145, 145, 145, 0.16);
  border-radius: 16px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @media screen and (max-width: $responsiveTablet) {
    width: 90%;
    height: 100%;
  }

  &-top {
    padding: 30px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    &__icon {
      position: absolute;
      top: 20px;
      left: 20px;
      cursor: pointer;

     
    }

    &__info {
      display: flex;
      align-items: center;
      gap: 40px;


      @media screen and (max-width: $responsiveAnotherMobile) {
        gap: 10px;
      }
      
      &__image {
        > img {
          width: 180px;
          height: 180px;

          @media screen and (max-width: $responsiveTablet) {
            width: 120px;
            height: 120px;
          }

          @media screen and (max-width: $responsiveAnotherMobile) {
            width: 80px;
            height: 80px;
          }
        }

        @media screen and (max-width: $responsiveAnotherMobile) {
          display: none;
        }

      }

      &__data {
        &-types {
          display: flex;
          gap: 10px;
          div {
            background-color: red;
            color: white;
            font-family: $roboto;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            display: inline-block;
            border-radius: 999px;
            padding: 6px 12px;
          }
        }
        p {
          color: white;
          font-size: 18px;
          font-weight: 700;
          font-family: $roboto;
          margin: 0px;
          padding: 0px;
        }
        h2 {
          font-family: $roboto;
          font-size: 48px;
          font-weight: 700;
          letter-spacing: 2.4px;
          line-height: normal;
          font-style: normal;
          color: white;
          margin: 0px;
          padding: 0px;
          margin-bottom: 18px;

          @media screen and (max-width: $responsiveTablet) {
            font-size: 24px;
          }



        }
      }
    }
  }

  // Bottom

  &-bottom {
    background-color: white;
    border-radius: 16px;
    &-filters {
      padding: 24px;
      display: flex;
      gap: 24px;
      font-weight: 700;
      line-height: normal;
      font-size: 20px;
      font-family: $roboto;
      color: $color-dark-grey;
      border-bottom: 1px solid $color-border-color;
      padding-bottom: 10px;

      p {
        cursor: pointer;
      }

      @media screen and (max-width: $responsiveAnotherMobile) {
        flex-direction: column;
        gap: 30px;
      }
    }

    &-page {
      padding: 24px;
    }
  }
}
